body {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  color: #650729;
  background-color: #EECEDA;
}
header {
  color: #650729;
}
  
textarea {
  background: transparent;
  border: none;
  resize: none;
  font-size: x-large;
  color: #F6E7EC;
  border-left: 1px solid #650729;
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid #EECEDA;
}

.hour {

  color: #320314;

}

.past {
  background-color: #0B9EA8;
  color: white;
}

.present {
  background-color: #A80B93
  ;
  color: white;
}

.future {
  background-color: #71A80B;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
